transformers
numpy
pandas
matplotlib
scikit-learn
scipy
seaborn
torch

sentence-transformers

datasets
soundfile
librosa

#!pip install -U datasets
gradio

timm
inflect
phonemizer


#Task-8
transformers
gradio
timm
torchvision

#Task-9
